@page "/upload"
@inject IJSRuntime JSRuntime

<PageTitle>Fruit Grading System</PageTitle>

<h1>File Upload</h1>

<div class="card border-0">
    <InputFile class="card-header" @ref="inputfile" OnChange="LoadFile" accept=".png,.jpg,.jpeg" />
    
    @if(showImage)
    {
        <div class="mx-auto d-block" >
            <img src=@imageSource width="480" height="360"/>
        </div>
    }

    @if(injectAnayzeComponent)
    {
        <Analyze data=@base64EncodedImage />
    }

</div>

@code 
{
    bool injectAnayzeComponent, showImage;
    public string? imageSource;
    public string? base64EncodedImage;
    InputFile? inputfile;

    public async Task LoadFile(InputFileChangeEventArgs fileEvent)
    {
        string ext = Path.GetExtension(fileEvent.File.Name.ToLower());

        if(ext == ".jpeg" || ext == ".jpg" || ext == ".png")
        {
            await JSRuntime.InvokeAsync<string>("console.log", "uploading");

            MemoryStream ms = new MemoryStream();
            await fileEvent.File.OpenReadStream().CopyToAsync(ms);

            await JSRuntime.InvokeAsync<string>("console.log", "upload complete. converting to base64");

            base64EncodedImage = Convert.ToBase64String(ms.ToArray());
            imageSource = $"data:image/{ext.Substring(1)};base64," + base64EncodedImage;

            await JSRuntime.InvokeAsync<string>("console.log", "converted");

            showImage = true;
            injectAnayzeComponent = true;
        }
        else
        {
            await JSRuntime.InvokeAsync<string>("alertUser", "select image");
            injectAnayzeComponent = false;
            showImage = false;
        }
    }

    [JSInvokable]
    public void ProcessImage(string image)
    {
        showImage = true;
    }

}
