@inject HttpClient Http

<div class="mx-auto d-block mt-3">
    <button class="btn btn-secondary" @onclick="AnalyzeData">Analyze</button>
</div>

@if (results != null)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Model</th>
                <th>Prediction</th>
                <th>Quality</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in results)
            {
                <tr>
                    <td>@result.ModelName</td>
                    <td>@result.Prediction</td>
                    <td>@result.Quality</td>
                </tr>
            }
        </tbody>
    </table>
}

@code 
{
    [Parameter]
    public string? data {get; set;}
    private ModelDetails[]? results;

    public async void AnalyzeData()
    {
        string api = "http://127.0.0.1:5000";
        var requestBody = new { Type = "post", image = data };
        var response = await Http.PostAsJsonAsync(api, requestBody);
        var results = await response.Content.ReadFromJsonAsync<ModelDetails[]>();

        results = await Http.GetFromJsonAsync<ModelDetails[]>("sample-data/weather.json");
    }

    public class ModelDetails
    {
        public string? ModelName { get; set; }

        public string? Prediction { get; set; }

        public string? Quality { get; set; }
    }
    
}
