<div class="mx-auto d-block mt-3">
    <button class="btn btn-secondary" @onclick="AnalyzeData">Analyze</button>
</div>

@if (result != null)
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Quality</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@result</td>
            </tr>
        </tbody>
    </table>
}

@code 
{
    [Parameter]
    public string? data {get; set;}
    public string? result { get; set; }

    private static HttpClient httpClient = new()
    {
            BaseAddress = new Uri("http://127.0.0.1:5000"),
    };
      
    public async Task AnalyzeData()
    {
        StringContent requestContent = new(JsonSerializer.Serialize(new { image = data }), Encoding.UTF8, "application/json");
        var response = await httpClient.PostAsync("predict", requestContent);
        
        result = await response.Content.ReadAsStringAsync();
    }
}
